.text-nature {
  color: #aae016;
}
.text-sheet {
  color: #9cce06;
}
.text-cake {
  color: #f4dda1;
}
.text-acua {
  color: #46e2ae;
}
.text-mint {
  color: #8befc0;
}
.bg-nature {
  background-color: #aae016;
}
.bg-sheet {
  background-color: #9cce06;
}
.bg-cake {
  background-color: #f4dda1;
}
.bg-acua {
  background-color: #46e2ae;
}
.bg-mint {
  background-color: #8befc0
}